

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}

html, body, #__nuxt {
    width: 100%;
    min-height: 100%;
}

body {
    /* overflow-y: scroll; */
}

input, textarea, select, button {
    outline: none;
    background: transparent;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}
.container-header {
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
}


a {
    text-decoration: none;
    color: #334155;
    user-select: none; /* Запрещаем выделение текста */
    -webkit-user-select: none; /* Для браузеров на основе WebKit */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none; /* Для Internet Explorer и Edge */
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.scroll-custom::-webkit-scrollbar {
    height: 16px;
    /* overflow: visible; */
    width: 16px;
}

.uinput {
    border-radius: 2px;
    border: 1px solid #ccced1;
}

.scroll-custom::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
.scroll-custom::-webkit-scrollbar-corner {
    background: transparent !important;
}
.scroll-custom::-webkit-scrollbar-thumb {
    border-style: solid !important;
    border-color: transparent !important;
    border-width: 4px !important;
    background-color: #dadce0 !important;
    border-radius: 8px !important;
    box-shadow: none !important;
}
.scroll-custom::-webkit-scrollbar-track {
    box-shadow: none !important;
    margin: 0 4px !important;
}
.scroll-custom::-webkit-scrollbar-track {
    background-clip: padding-box !important;
    border: solid transparent !important;
    border-width: 0 0 0 4px !important;
}
